ion-content{
  --background: var(--ion-color-primary);

  ion-button{
    --background: var(--ion-color-secondary);
    color: var(--ion-color-light);
    --border-radius: 30px;
    margin: 3%;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
  }

  .percent-btns{
    margin-top: 50%;
    padding: auto;
  }
}